

.containerButton{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center ;
  text-align: center;
  min-height: fit-content;
}

.buttonNav{  
  width: 100px;
  height: 25px;
 border: white;
 border-bottom: solid;
 margin-top: 5%;
  color: white;
  background-color: rgba(185, 182, 182, 0.2);
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.3s;
  font-size: 15px;
  outline:none;
text-decoration: none;
}


.buttonNav:hover {
  box-shadow: inset 100px 0 0 0 black }



.navText{
  text-align: center;
  color: white;
  background-color:#1290b1;
  border-radius: 40px;
  border: solid;
  border-width: thin;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 9%;
  padding-bottom: 1%;
  padding-top: 1%;

}
.siteName{
  
  font-size: xx-large;
  font-weight: bold;
  font-style: normal;
}
.navDescription {

  font-style: italic;
  font-size: x-large;
  width: 100%;
  
}




.contentHome
{
  text-align: center;
  color: white;
  backdrop-filter: blur(3px);
   
  background-color:#1290b1;
border-radius: 10px;
  border-left:dashed  ;
  border-top: dashed;
  border-right: dashed;
  border-bottom: dashed;
  
  
  margin-left:10%;
  margin-right:10%;
  margin-bottom: 10%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
padding-bottom: 3%;
}

#toyCarImg{
  height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 10px;
}


.renovationHome
{
  background-color: rgba(185, 182, 182, 0.2);
  border-radius: 10px;
  border-bottom: solid;
  border-top:solid;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
padding-bottom: 3%;
text-align: center;
}

#renovationImg
 {
  height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 10px;
}
  

.spaHome
{
  background-color:rgba(185, 182, 182, 0.2) ;
  border-radius: 10px;
  border-bottom: solid;
  border-top:solid;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
padding-bottom: 3%;
text-align: center;}

#spaImg
{  height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 10px;}

.adrenalineHome
{
  background-color: rgba(185, 182, 182, 0.2);
  border-radius: 10px;
  border-bottom: solid;
  border-top:solid;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
padding-bottom: 3%;
text-align: center;}

#adrenalineImg
{ height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 10px;}

.bikeHome
{
  background-color: rgba(185, 182, 182, 0.2);
  border-radius: 10px;
  border-bottom: solid;
  border-top:solid;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
padding-bottom: 3%;
text-align: center;}

#bikeImg{height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 10px;}

.drinksHome
{background-color: rgba(185, 182, 182, 0.2);
  border-radius: 10px;
  border-bottom: solid;
  border-top:solid;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 3%;
padding-bottom: 3%;
text-align: center;}

#drinksImg
{height: 100%;
  width: 100%;
  object-fit: cover;
border-radius: 10px;}

body{
  background-image: linear-gradient(to right top, #020e1f, #13354e, #186080, #1290b1, #0cc3de);  
backdrop-filter: blur(3px);
}

header{
  height: 100%;
  width: 100%;
 
  
  
}

}

footer{
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  text-align: center;

}

.inspoHeadline{
  color: white;
  text-align: center;
}


   .inspoImg{
     object-fit: cover;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
     height: 90%;
     object-fit: cover;
     border-radius: 10px;
     margin-top: 5%;
     
}
.inspoPressImg{}


