body > #bg {

height: 150%;
width: 100%;
background-image: linear-gradient(to left, #020b4a, #003a7d, #006bab, #009ed2, #04d3f2);

clip-path: inset(0 0 72% 0);
position:absolute;
z-index: -1;
top: 0;
left: 0;
border-bottom: solid black 2px;
}
(@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Nunito&family=Source+Sans+Pro&display=swap'););
* {

font-family:'Source Sans Pro', sans-serif;
letter-spacing: 2px;
}

.container{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items: center ;
  text-align: center;
  min-height: 100vn;
  

}

.buttonNav{
 width: 100px;
 height: 40px;
 border-top: solid 2px;
 border-bottom: solid 2px;
 border-left: solid 2px;
 border-right: solid 2px;
 color: white;
 background-color: rgba(185, 182, 182, 0.164) ;
 border-radius: 0px;
 box-shadow: inset 0 0 0 0 black;
 transition: ease-out 0.3s;
 font-size: 15px;
 outline: none;

}

.buttonNav:hover {
  box-shadow: inset 100px 0 0 0 black }



.navText{
  text-align: center;
  color: white;
}
.siteName{
  font-size: xx-large;
  font-weight: bold;
  font-style: normal;
}
.navDescription {
  font-style: italic;
  font-size: x-large;
}


.contentHome
{
  text-align: center;
  color: white;
  backdrop-filter: blur(3px);

}

body{
  background-image: url(https://images.pexels.com/photos/3776850/pexels-photo-3776850.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
background-size:cover;
overflow: hidden;

margin: 5%;
}

header{

}

footer{
  text-align: center;
 background-color: white;
 padding: 5%;
 margin-left: 0;
 margin-right: 0%;
}


   


